.container {
  background-color: #bedff9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #007bff;
  width: 10vw;
  height: 5vh;
  color: #ffffff;
  font-family: 'Roboto';
}

.head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: #2d3a35;
  font-size: 30px;
}

.para {
  font-size: 15px;
  font-family: 'Roboto';
}

.count {
  color: #c20a72;
  font-family: 'Roboto';
}
